@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F5F5F7 !important;
    &.filterBarOpen{
        overflow: hidden;
        & .sideBar{
            transform: translateX(0);
        }
    }
}

